<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavenLauncher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WavenLauncher.My.MySettings>
            <setting name="CloseForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocAL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocGM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ALDir" serializeAs="String">
                <value />
            </setting>
            <setting name="GMDir" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionAL" serializeAs="String">
                <value>3.5.3</value>
            </setting>
            <setting name="AutoUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionGM" serializeAs="String">
                <value>0.8.4.30606</value>
            </setting>
            <setting name="Valid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="INTLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionWL" serializeAs="String">
                <value>202110272</value>
            </setting>
        </WavenLauncher.My.MySettings>
    </userSettings>
</configuration>